
      <%- include ('./modules/header.ejs') %>


      <div style="margin-left: 280px; padding: 20px;">
        <div class="container">
            <div class="row">
              <div class="col col-4" style="background-color: #3A4046; border-radius: 5px; padding: 10px;">
                <h6 style="color: #23A7FF;">Dados de Login</h6>
                <div>Usuário: jamilgadia</div>
                <div>Senha: 12345</div>
              </div>
              <div class="col" style="background-color: #3A4046; border-radius: 5px; padding: 10px; margin-left: 10px;">
                <h6 style="color: #23A7FF;">Dados Cadastrados</h6>
                <div>Alunos: <%= livros %></div>
                <div>Livro: NaN</div>
              </div>
            </div>
          </div>
      </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</html>